.page-heading,
article > h1 {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 1em;
  text-align: center;
  line-height: 1; }
  .page-heading:after,
  article > h1:after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background: #f6624A;
    margin: 40px auto 0; }

article > h3 > a {
  text-decoration: none; }

.login-box {
  margin-top: 10px; }
  .login-box .panel {
    padding: 0; }

.alert {
  color: #f6624A;
  font-weight: bold; }

article input[type="text"],
article select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 13px;
  padding: 10px;
  width: 100% !important;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  article input[type="text"]:focus,
  article select:focus {
    outline: none;
    border: 1px solid #f6624A; }

div.selectize-dropdown-content {
  max-height: 600px; }
  div.selectize-dropdown-content div {
    border-bottom: 1px solid #eee; }
  div.selectize-dropdown-content h1 {
    font-size: 20px; }
  div.selectize-dropdown-content h2 {
    font-size: 16px; }
  div.selectize-dropdown-content h3 {
    font-size: 14px; }
